<% include ./partials/header %>

<nav class = "navbar navbar-light bg-light fixed-top">
    Books  <center>Welcome</center>
    <a href = "/">LogOut</a>
</nav>

<div>
    <a href = "/books/new">Add New Book</a>
    
</div>

<!--<div class="container">-->
<!--    <% now.forEach(function(book){ %>-->
<!--    <div class ="displaybook">-->
<!--          <h3 class="headerdisplay"><%= book.title %> </h1>-->
<!--          <img src = "<%= book.image %>">-->
<!--        <p><%= book.description.substring(0,50) %>...</p>-->
<!--        <a href = "/books/<%=book._id %>">Show more</a>-->
<!--    </div>-->
<!--    <% }) %>-->
<!--</div>-->



<div class ="container">

<% now.forEach(function(book){ %>

<div class="card-group displaybook" style="width: 18rem;">
     <h3 class="card-title"><%= book.title %></h3>
  <img class="card-img-top" src="<%= book.image %>">
  <div class="card-body">
   
    <p class="card-text"><%= book.description.substring(0,50) %>...</p>
    <a href="/books/<%=book._id %>" class="btn btn-primary">Show more</a>
  </div>
</div>

<% }) %>

</div>


<% include ./partials/footer %>